*.log
wp-config.php
node_modules
/wp-content/mu-plugins
/wp-admin
/wp-content/plugins
/wp-content/uploads

/wp-content/advanced-cache.php
/wp-content/index.php
/wp-content/mysql.sql
/wp-content/et-cache
/wp-content/upgrade
/wp-content/ai1wm-backups
/wp-includes
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-activate.php
/wp-blog-header.php

.DS_Store
wp-content/.DS_Store
wp-content/themes/.DS_Store
wp-content/themes/niznik_theme/.DS_Store
/wp-content/themes/twentynineteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentytwenty
/wp-content/themes/index.php
/wp-content/webp-express
/.htaccess
